@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, synthwave;
}

.font-nunito {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}