@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    @apply bg-contain w-full h-full bg-center bg-no-repeat m-auto overflow-hidden rounded-lg;
  }
}

html, body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: 'Lato', 'Open Sans', sans-serif;
}

.min-100-vh {
  min-height: 100vh;
}

.min-90-vh {
  min-height: 90vh;
}

/*
  COLORS
*/

.bg-dark-blue {
  background: #00121b;
  color: #FFF;
  background: rgb(0,18,27);
  background: linear-gradient(90deg, rgba(0,18,27,1) 0%, rgba(0,18,27,1) 50%, rgb(7, 37, 56) 50%, rgb(7, 37, 56) 100%);
}

.bg-blue {
  background: #007aff;
}

.bg-red {
  background: #dc352c;
}

.bg-dark {
  background: #010101;
}

.bg-green {
  background: #a9e5b0;
}

.bg-yellow {
  background: #ffc864;
}

.bg-color-light {
  background: #F6F6F6;
}

.bg-dotted-yellow {
  background-color: #fbbc04;
  background-image: url(../assets/dot-y.png);
}

.color-white {
  color: #FFFFFF;
}

.color-green {
  color: #69d574;
}

.color-light-blue {
  color: #03a9f4;
}

.color-dark-blue {
  color: #00121b;
}

.card {
  width: 25vmin;
  height: 25vmin;
  max-width: 512px;
  background-size: 100%;
}
