@import "tailwindcss";
@plugin "daisyui" {
  themes: synthwave;
}

html, body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: 'Lato', 'Open Sans', sans-serif;
}

.font-nunito {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
