* {
  box-sizing: border-box;
}

.row, .row-v {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.row-v {
  flex-direction: column;
}

.j-center {
  justify-content: center;
  align-content: center;
}

.j-left-center {
  justify-content: center;
  align-content: flex-start;
}

.j-normal {
  justify-content: normal;
  align-content: normal;
}

.j-baseline {
  align-items: baseline;
}

.j-between {
  justify-content: space-between;
  align-content: space-between;
}

.j-even {
  justify-content: space-evenly;
}

.col-stretch {
  /* Or remove flex-grow and set a width  */
  flex-grow: 1;
  align-self: stretch;
  height: 100%;
}

.col-5 { width: 5%;}
.col-10 { width: 10%;}
.col-15 { width: 15%;}
.col-20 { width: 20%;}
.col-25 { width: 25%;}
.col-30 { width: 30%;}
.col-40 { width: 40%;}
.col-50 { width: 50%;}
.col-60 { width: 60%;}
.col-70 { width: 70%;}
.col-80 { width: 80%;}
.col-90 { width: 90%;}
.col-100 { width: 100%;}
